CSS Backgrounds
the following are CSS background properties:
background-color
background-image
background-repeat
background-attachment
background-position
background (shorthand property)
CSS background-color
The background-color property specifies the background color of an element.
Example
The background color of a page is set like this:
body {
  background-color: lightblue;
}

Other Elements
You can set the background color for any HTML elements:
Example
Here, the <h1>, <p>, and <div> elements will have different background colors: 
h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}

Opacity / Transparency
It can take a value from 0.0 - 1.0. The lower value, the more transparent:
Example
div {
  background-color: green;
  opacity: 0.3;
}

Transparency using RGBA
Example
div {
  background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}


CSS background-image
Example
body {
  background-image: url("paper.gif");
}

The background image can also be set for specific elements, like the <p> element:
Example
p {
  background-image: url("paper.gif");
}


CSS background-repeat
Example
body {
  background-image: url("gradient_bg.png");
}

CSS background-repeat Horizontally
Example
body {
  background-image: url("gradient_bg.png");
  background-repeat: repeat-x;
}

CSS background-repeat: no-repeat
Example
body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
}

CSS background-position
Example
body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}


CSS background-attachment
Example
Specify that the background image should be fixed:

body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

Example
Specify that the background image should scroll with the rest of the page:

body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}


CSS Background Shorthand
CSS background - Shorthand property
To shorten the code, it is possible to specify all the background properties in one single property. This is called a shorthand property.

Instead of writing:

body {
  background-color: #ffffff;
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}
You can use the shorthand property background:

Example
Use the shorthand property to set all the background properties in one declaration:

body {
  background: #ffffff url("img_tree.png") no-repeat right top;
}
The background property is a shorthand property for the following properties:

background-color
background-image
background-position
background-size
background-repeat
background-attachment
background-origin
background-clip
If some of the property values are missing, they will be set to their initial (default) values.

Exercise
?
What is the purpose of the CSS background shorthand property?


To define only the background color of an element
To set default scroll behavior for all elements
To apply gradient effects to backgrounds
To specify multiple background properties in a single declaration

All CSS Background Properties
Property	Description
background	Sets all the background properties in one declaration
background-attachment	Sets whether a background image is fixed or scrolls with the rest of the page
background-clip	Specifies the painting area of the background
background-color	Sets the background color of an element
background-image	Sets the background image for an element
background-origin	Specifies where the background image(s) is/are positioned
background-position	Sets the starting position of a background image
background-repeat	Sets how a background image will be repeated
background-size	Specifies the size of the background image(s)











