/* CSS Combinators
There are four different combinators in CSS:
Descendant combinator (space)
Child combinator (>)
Next sibling combinator (+)
Subsequent-sibling combinator (~)
Descendant Combinator (space) */

/* The following example selects all <p> elements inside <div> elements: 
Example */
div p {
  background-color: yellow;
}

/* Child Combinator (>)
The following example selects all <p> elements that are direct children of <div>:
Example */
div > p {
  background-color: yellow;
}

/* Next Sibling Combinator (+)
The following example selects the first <p> element that immediately follows a <div>, and share the same parent:
Example */
div + p {
  background-color: yellow;
}

/* Subsequent-sibling Combinator (~)
Example */
div ~ p {
  background-color: yellow;
}
