/* CSS Counters
CSS Automatic Numbering With Counters
To work with CSS counters we will use the following properties:
counter-reset - Creates or resets a counter
counter-increment - Increments or decrements a counter
content - Inserts generated content
counter() - Adds the value of a counter to an element */

/* CSS Increase and Decrease Counter
Example */
body {
  counter-reset: section;
}

h2::before {
  counter-increment: section;
  content: "Section " counter(section) ": ";
}

/* Decrementing a Counter
Example */
body {
  counter-reset: section;
}

h2::before {
  counter-increment: section -1;
  content: "Section " counter(section) ": ";
}

/* Incrementing by Custom Values
Example */
body {
  counter-reset: section;
}

h2::before {
  counter-increment: section 2;
  content: "Section " counter(section) ": ";
}

/* CSS Nested Counters
Example */
body {
  counter-reset: section;
}

h1 {
  counter-reset: subsection;
}

h1::before {
  counter-increment: section;
  content: "Section " counter(section) ". ";
}

h2::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}

/* The CSS counters() Function
Example */
ol {
  counter-reset: section;
  list-style-type: none;
}

li::before {
  counter-increment: section;
  content: counters(section,".") " ";
}
