/* display Property
Block-level Elements
Examples
<div>
<h1> - <h6>
<p>
<form>
<header>
<footer>
<section> */

/* Inline Elements
Examples
<span>
<a>
<img> */

/* Common display Values
Example */
li {
  display: inline;
}

/* The following example displays <span> elements as block elements:
Example */
span {
  display: block;
}

/* The following example displays <a> elements as block elements:
Example */
a {
  display: block;
}

/* Example of More Display Values
Example */
p.ex1 {display: none;}
p.ex2 {display: inline;}
p.ex3 {display: block;}
p.ex4 {display: inline-block;}
p.ex5 {display: flex;}
p.ex6 {display: grid;}


/* CSS Hide Elements
Example */
<style>
#panel {
  display: none;
}
</style>

<script>
function myFunction() {
  document.getElementById("panel").style.display = "block";
}
</script>

/* How to use CSS and JavaScript to toggle between show and hide on a click event:
Example */
<style>
#panel {
  display: none;
}
</style>

<script>
function myFunction() {
  var x = document.getElementById("panel");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

/* Hide an Element - Use display:none or visibility:hidden?
Example */
h1.hidden {
  display: none;
}
Example
h1.hidden {
  visibility: hidden;
}




/* CSS display: inline-block
Example */
span.a {
  display: inline; /* the default for span */
  padding: 5px;
  border: 2px solid red;
}

span.b {
  display: inline-block;
  width: 100px;
  height: 35px;
  padding: 5px;
  border: 2px solid red;
}

span.c {
  display: block;
  width: 100px;
  height: 35px;
  padding: 5px;
  border: 2px solid red;
}

/* Create a Horizontal Navigation Menu
Example */
.nav {
  background-color: lightgray;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  font-size: 18px;
  padding: 15px;
}
