There are three ways of inserting a style sheet:
External CSS - link to an external .css file
Internal CSS - use the <style> element in the head section
Inline CSS - use the style attribute on HTML elements
External CSS
With an external style sheet, you can change the look of an entire website by changing just one file!
Example
External styles are defined within the <link> element, inside the <head> section of an HTML page:

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>

how the "mystyle.css" file looks:
"mystyle.css"
body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
