CSS Float
The float property:
left - The element floats to the left of its container
right - The element floats to the right of its container
none - Default. The element does not float and is displayed just where it occurs in the text
inherit - The element inherits the float value of its parent

CSS float: right Example
Example
img {
  float: right;
}

CSS float: left Example
Example
img {
  float: left;
}

CSS float: none Example
Example
img {
  float: none;
}

CSS Float Next To Each Other
Example
div {
  float: left;
  padding: 15px;
}

.div1 {
  background: red;
}

.div2 {
  background: yellow;
}

.div3 {
  background: green;
}

CSS clear and Clearfix Hack
properties:
none - Default. Allows elements to float on either side
left - The element is pushed below floated elements on its left side
right - The element is pushed below floated elements, on its right side
both - The element is pushed below floated elements, on both its left and right side
inherit - The element inherits the clear value from its parent

Clear: left; pushes div2 down below the floating div1, on its left side
Example
div1 {
  float: left;
}

div2 {
  clear: left;
}

The CSS Clearfix Hack
Example
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

CSS Float Examples
Create Equal Width Boxes
Example
* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 50px; /* if you want space between the images */
}

Create Boxes With Equal Heights
Example
<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 50%;
  padding: 50px;
  height: 300px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<h2>Equal Height Boxes</h2>
<p>Floating boxes with equal heights:</p>

<div class="clearfix">
  <div class="box" style="background-color:#bbb">
  <h2>Box 1</h2>
  <p>Some content, some content, some content</p>
  </div>
  <div class="box" style="background-color:#ccc">
  <h2>Box 2</h2>
  <p>Some content, some content, some content</p>
  <p>Some content, some content, some content</p>
  <p>Some content, some content, some content</p>
  </div>
</div>

<p>This example not very flexible.</p>
<p>Go back to the tutorial and find another solution, if this is not what you want.</p>

</body>
</html>

Navigation Menu
You can also use float with a list of hyperlinks to create a horizontal menu:
Example
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}
</style>
</head>
<body>

<ul>
  <li><a href="#home" class="active">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</body>
</html>
