CSS Fonts
The CSS font-family Property
Example
.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

CSS Generic Font Families
Serif fonts - have a small stroke at the edges of each letter. They create a sense of formality and elegance.
Sans-serif fonts - have clean lines (no small strokes attached). They create a modern and minimalistic look.
Monospace fonts - here all the letters have the same fixed width. They create a mechanical look.
Cursive fonts - imitate human handwriting.
Note: On computer screens, sans-serif fonts are considered easier to read than serif fonts.
Some Font Examples
Generic Font Family	Examples of Font Names
Serif	Times New Roman
Georgia
Garamond
Sans-serif	Arial
Verdana
Helvetica
Monospace	Courier New
Lucida Console
Monaco
Cursive	Brush Script MT
Lucida Handwriting
Fantasy	Copperplate
Papyrus


CSS Font Fallbacks
Commonly Used Font Fallbacks:
Serif
Georgia, serif	
Garamond, serif	

Sans-Serif Fonts
Arial, Helvetica, sans-serif	
Tahoma, Verdana, sans-serif	
"Trebuchet MS", Helvetica, sans-serif	
Geneva, Verdana, sans-serif	

Monospace Fonts
"Courier New", Courier, monospace	

Cursive Fonts
"Brush Script MT", cursive	




CSS Font Style
normal - The text is shown normally
italic - The text is shown in italics
oblique - The text is "leaning" (oblique is very similar to italic)
Example
p.normal {
  font-style: normal;
}

p.italic {
  font-style: italic;
}

p.oblique {
  font-style: oblique;
}

CSS Font Weight
normal - This is default. Defines normal characters
bold - Defines thick characters
bolder - Defines thicker characters
lighter - Defines lighter characters
100-900 - Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold
Example
p.normal {
  font-weight: normal;
}

p.light {
  font-weight: lighter;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}

CSS Font Variant
Example
p.normal {
  font-variant: normal;
}

p.small {
  font-variant: small-caps;
}




CSS Font Size
Example
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

Set Font Size With Em
Example
body {
  font-size: 16px; /* Base font size */
}

h1 {
  font-size: 2.5em; /* 2.5 * 16 = 40px */
}

h2 {
  font-size: 1.875em; /* 1.875 * 16 = 30px */
}

p {
  font-size: 1em; /* 1 * 16 = 16px */
}

Set Font Size With Rem
Example
html {
  font-size: 16px; /* Set the root font size */
}

h1 {
  font-size: 2.5rem; /* 2.5 * 16 = 40px */
}

h2 {
  font-size: 1.875rem; /* 1.875 * 16 = 30px */
}

p {
  font-size: 1rem; /* 1 * 16 = 16px */
}

The vw Unit
Example
h1 {
  font-size:10vw;
}

p {
  font-size:5vw;
}




Google Fonts
Example
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
body {
  font-family: "Sofia", sans-serif;
}
</style>
</head>

We want to use a font named "Trirong" from Google Fonts:
Example
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<style>
body {
  font-family: "Trirong", serif;
}
</style>
</head>

We want to use a font named "Audiowide" from Google Fonts:
Example
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<style>
body {
  font-family: "Audiowide", sans-serif;
}
</style>
</head>

Use Multiple Google Fonts
Example
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
<style>
h1.a {font-family: "Audiowide", sans-serif;}
h1.b {font-family: "Sofia", sans-serif;}
h1.c {font-family: "Trirong", serif;}
</style>
</head>

Styling Google Fonts
Example
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
body {
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
}
</style>
</head>

Enabling Font Effects
Example
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
<style>
body {
  font-family: "Sofia", sans-serif;
  font-size: 30px;
}
</style>
</head>
<body>

<h1 class="font-effect-fire">Sofia on Fire</h1>

</body>

Add multiple effects to the "Sofia" font
Example
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
<style>
body {
  font-family: "Sofia", sans-serif;
  font-size: 30px;
}
</style>
</head>
<body>

<h1 class="font-effect-neon">Neon Effect</h1>
<h1 class="font-effect-outline">Outline Effect</h1>
<h1 class="font-effect-emboss">Emboss Effect</h1>
<h1 class="font-effect-shadow-multiple">Multiple Shadow Effect</h1>

</body>




CSS Great Font Pairings

Georgia and Verdana
Helvetica and Garamond
Merriweather and Open Sans
Ubuntu and Lora
Abril Fatface and Poppins
Cinzel and Fauna One
Fjalla One and Libre Baskerville
Space Mono and Muli
Spectral and Rubik
Oswald and Noto Sans

Example
body {
  background-color: black;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: gray;
}

h1 {
  font-family: Georgia, serif;
  font-size: 60px;
  color: white;
}




The CSS Font Shorthand Property
font-style
font-variant
font-weight
font-stretch
font-size
line-height
font-family
Example
p.a {
  font: 20px Arial, sans-serif;
}

p.b {
  font: italic bold 16px Arial, sans-serif;
}

p.c {
  font: italic small-caps bold 15px/30px Georgia, serif;
}
