
CSS Fonts
Font Selection is Important
Choosing the right font has a huge impact on how the readers experience a website.

The right font can create a strong identity for your brand.

Choosing a font that is easy to read is important. It is also important to choose a good color and size for your font.

The CSS font-family Property
The CSS font-family property specifies the font for an element.

Tip: The font-family property should hold several font names as a "fallback" system. If the browser does not support the first font, it tries the next font. The font names should be separated with a comma.

Always start with the font you want, and always end with a generic family, to let the browser pick a similar font in the generic family, if no other fonts are available.

Note: If the font name is more than one word, it must be in quotation marks, like: "Times New Roman".

Tip: Read more about fallback fonts in CSS Web Safe Fonts.

Example
Specify some different fonts for three paragraphs:

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

REMOVE ADS

CSS Generic Font Families
In CSS, there are five generic font families:

Serif fonts - have a small stroke at the edges of each letter. They create a sense of formality and elegance.
Sans-serif fonts - have clean lines (no small strokes attached). They create a modern and minimalistic look.
Monospace fonts - here all the letters have the same fixed width. They create a mechanical look.
Cursive fonts - imitate human handwriting.
Fantasy fonts - are decorative/playful fonts.
All the different font names belong to one of the generic font families.

Difference Between Serif and Sans-serif Fonts
Serif vs. Sans-serif
Note: On computer screens, sans-serif fonts are considered easier to read than serif fonts.

Some Font Examples
Generic Font Family	Examples of Font Names
Serif	Times New Roman
Georgia
Garamond
Sans-serif	Arial
Verdana
Helvetica
Monospace	Courier New
Lucida Console
Monaco
Cursive	Brush Script MT
Lucida Handwriting
Fantasy	Copperplate
Papyrus















CSS Web Safe Fonts
What are Web Safe Fonts?
Web safe fonts are fonts that are universally installed across all browsers and devices.

Fallback Fonts
However, there are no 100% completely web safe fonts. There is always a chance that a font is not found or is not installed properly.

Therefore, it is very important to always use fallback fonts.

This means that you should add a list of similar "backup fonts" in the font-family property. If the first font does not work, the browser will try the next one, and the next one, and so on. Always end the list with a generic font family name.

Example
Here, we list three fonts: Tahoma, Verdana, and sans-serif. The second and third fonts are backup fonts, in case the first one is not found:

p {
  font-family: Tahoma, Verdana, sans-serif;
}
Web Safe Fonts for HTML and CSS
The following list are the best web safe fonts for HTML and CSS:

Arial (sans-serif)
Verdana (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive)
Note: Before you publish your website, always check how your fonts appear on different browsers and devices, and always use fallback fonts!


REMOVE ADS

Arial (sans-serif)
Arial is the most widely used font for both online and printed media. Arial is also the default font in Google Docs.

Arial is one of the safest web fonts, and it is available on all major operating systems.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Verdana (sans-serif)
Verdana is a very popular font. Verdana is easily readable even for small font sizes.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Tahoma (sans-serif)
The Tahoma font has less space between the characters.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Trebuchet MS (sans-serif)
Trebuchet MS was designed by Microsoft in 1996. Use this font carefully. Not supported by all mobile operating systems.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Times New Roman (serif)
Times New Roman is one of the most recognizable fonts in the world. It looks professional and is used in many newspapers and "news" websites. It is also the primary font for Windows devices and applications.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Georgia (serif)
Georgia is an elegant serif font. It is very readable at different font sizes, so it is a good candidate for mobile-responsive design.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Garamond (serif)
Garamond is a classical font used for many printed books. It has a timeless look and good readability.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Courier New (monospace)
Courier New is the most widely used monospace serif font. Courier New is often used with coding displays, and many email providers use it as their default font. Courier New is also the standard font for movie screenplays.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Brush Script MT (cursive)
The Brush Script MT font was designed to mimic handwriting. It is elegant and sophisticated, but can be hard to read. Use it carefully.

Example
Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet.

0 1 2 3 4 5 6 7 8 9

Tip: Also check out all available Google Fonts and how to use them.





























CSS Font Fallbacks
Commonly Used Font Fallbacks
Below are some commonly used font fallbacks, organized by the 5 generic font families:

Serif
Sans-serif
Monospace
Cursive
Fantasy
Serif Fonts
font-family	Example text	Code
"Times New Roman", Times, serif	
This is a Heading
This is a paragraph.

Georgia, serif	
This is a Heading
This is a paragraph.

Garamond, serif	
This is a Heading
This is a paragraph.

Sans-Serif Fonts
font-family	Example text	Code
Arial, Helvetica, sans-serif	
This is a Heading
This is a paragraph.

Tahoma, Verdana, sans-serif	
This is a Heading
This is a paragraph.

"Trebuchet MS", Helvetica, sans-serif	
This is a Heading
This is a paragraph.

Geneva, Verdana, sans-serif	
This is a Heading
This is a paragraph.


REMOVE ADS

Monospace Fonts
font-family	Example text	Code
"Courier New", Courier, monospace	
This is a Heading
This is a paragraph.

Cursive Fonts
font-family	Example text	Code
"Brush Script MT", cursive	
This is a Heading
This is a paragraph.

Fantasy Fonts
font-family	Example text	Code
Copperplate, Papyrus, fantasy	
This is a Heading
This is a paragraph.

Tip: Also check out all available Google Fonts and how to use them.


























