/* CSS Gradients
top to bottom (default)
Example */
#grad {
  background-image: linear-gradient(to bottom, red, yellow);
}

/* Direction - Bottom to Top
Example */
#grad {
  background-image: linear-gradient(to top, red, yellow);
}

/* Direction - Left to Right
Example */
#grad {
  background-image: linear-gradient(to right, red , yellow);
}

/* Direction - Diagonal
Example */
#grad {
  background-image: linear-gradient(to bottom right, red, yellow);
}

/* Linear Gradient - Using Angles
Example */
#grad {
  background-image: linear-gradient(180deg, red, yellow);
}

/* Linear Gradient - Multiple Color Stops
Example */
#grad {
  background-image: linear-gradient(red, yellow, green);
}

/* Rainbow Background
Example */
#grad {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

/* Linear Gradient - Transparency 
Example */
#grad {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

/* CSS repeating-linear-gradient() Function
Example */
#grad {
  background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}

/* CSS Radial Gradients
Example */
#grad {
  background-image: radial-gradient(red, yellow, green);
}

/* Radial Gradient - Differently Spaced Color Stops
Example */
#grad {
  background-image: radial-gradient(red 5%, yellow 15%, green 60%);
}

/* Radial Gradient - Set Shape
Example */
#grad {
  background-image: radial-gradient(circle, red, yellow, green);
}

/* Radial Gradient - The size Parameter
Example */
#grad1 {
  background-image: radial-gradient(closest-side at 70% 60%, red, yellow, black);
}

#grad2 {
  background-image: radial-gradient(farthest-side at 70% 60%, red, yellow, black);
}

/* CSS repeating-radial-gradient() Function
Example */
#grad {
  background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}

/* CSS Conic Gradients
A conic gradient with three colors:
Example */
#grad {
  background-image: conic-gradient(red, yellow, green);
}

/* Conic Gradient: Five Colors
Example */
#grad {
  background-image: conic-gradient(red, yellow, green, blue, black);
}

/* Conic Gradient: Three Colors and Degrees
Example */
#grad {
  background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}

/* Create Pie Charts
Example */
#grad {
  background-image: conic-gradient(red, yellow, green, blue, black);
  border-radius: 50%;
}

/* Here is another pie chart with defined degrees for all the colors:
Example */
#grad {
  background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
  border-radius: 50%;
}

/* Conic Gradient With Specified From Angle
Example */
#grad {
  background-image: conic-gradient(from 90deg, red, yellow, green);
}

/* Conic Gradient With Specified Center Position
Example */
#grad {
  background-image: conic-gradient(at 60% 45%, red, yellow, green);
}

/* CSS repeating-conic-gradient() Function
Example */
#grad {
  background-image: repeating-conic-gradient(red 10%, yellow 20%);
  border-radius: 50%;
}

/* Here is a repeating conic gradient with defined color-starts and color-stops:
Example */
#grad {
  background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);
  border-radius: 50%;
}
