/* CSS Height and Width
The height and width properties can have the following values:
auto - This is default. The browser calculates the height and width
length - Defines the height or width in px, cm, em, etc.
% - Defines the height or width in percent of the containing block
initial - Sets the height or width to its default value
inherit - The height or width will be inherited from its parent value */

/* CSS height and width Examples
Example */
div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

/* Example */
div {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}




/* CSS Min/Max Height and Width
CSS Using max-width
Example
One <div> element with a max-width of 500 pixels, and one <div> element with a width of 500 pixels: */

.div1 {
  max-width: 500px;
  background-color: powderblue;
}

.div2 {
  width: 500px;
  background-color: powderblue;
}

/* Example
A <div> element with both a width and a max-width property: */

.div1 {
  width: 100%;
  max-width: 900px;
  background-color: powderblue;
}











CSS The max-width Property
The CSS max-width Property
The max-width property defines the maximum width of an element.

This property prevents the element's width from being larger than the specified value (it can be smaller, but not larger).

This property is useful for creating responsive layouts and to ensure content readability across various screen sizes.

Problem with width:
Here we have a horizontally centered <div> element with a specific width (600px):

This <div> element has a width of 600px, and margin set to auto. This <div> element has a width of 600px, and margin set to auto.

What happens to the <div> above if the browser window is smaller than the width of the element? Some of the content will not show, and the browser might add a horizontal scrollbar to the page.

Using max-width instead:
Now, we use the max-width property instead. This will improve the browser's handling of small windows:

This <div> element has a max-width of 600px, and margin set to auto. This <div> element has a max-width of 600px, and margin set to auto.

Tip: Resize the browser window to less than 600px wide, to see the difference between the two <div>s!

Here is the CSS code for the two <div>s above:

Example
div.ex1 {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}

div.ex2 {
  max-width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}

