/* CSS Height and Width
The height and width properties can have the following values:
auto - This is default. The browser calculates the height and width
length - Defines the height or width in px, cm, em, etc.
% - Defines the height or width in percent of the containing block
initial - Sets the height or width to its default value
inherit - The height or width will be inherited from its parent value */

/* CSS height and width Examples
Example */
div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

/* Example */
div {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}




CSS Min/Max Height and Width
CSS Using max-width
Example
One <div> element with a max-width of 500 pixels, and one <div> element with a width of 500 pixels:

.div1 {
  max-width: 500px;
  background-color: powderblue;
}

.div2 {
  width: 500px;
  background-color: powderblue;
}

Example
A <div> element with both a width and a max-width property:

.div1 {
  width: 100%;
  max-width: 900px;
  background-color: powderblue;
}
