CSS Height and Width
CSS Height and Width
The CSS height and width properties are used to set the height and width of an element.

This element has a height of 70 pixels and a width of 100%.

CSS Set height and width
The height and width properties are used to set the height and width of an element.

The height and width do not include padding, borders, or margins. It sets the height and width of the area inside the padding, border, and margin of the element.

CSS height and width Values
The height and width properties can have the following values:

auto - This is default. The browser calculates the height and width
length - Defines the height or width in px, cm, em, etc.
% - Defines the height or width in percent of the containing block
initial - Sets the height or width to its default value
inherit - The height or width will be inherited from its parent value
REMOVE ADS

CSS height and width Examples
This element has a height of 200 pixels and a width of 50%
Example
Set the height and width of a <div> element:

div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

This element has a height of 100 pixels and a width of 500 pixels.
Example
Set the height and width of another <div> element:

div {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}

Note: Remember that the height and width properties do not include padding, borders, or margins! They set the height/width of the area inside the padding, border, and margin of the element!
























CSS Min/Max Height and Width
CSS Min/Max Height and Width
The min-width and max-width properties are used to set the minimum and maximum width of an element.

The min-height and max-height properties are used to set the minimum and maximum height of an element.

CSS Using max-width
The max-width property sets the maximum allowed width of an element. This prevents the width of an element to be larger than the max-width property value.

The max-width property can have the following values:

length - Defines the maximum width in px, cm, etc.
% - Defines the maximum width in percent of the containing block
none - This is default. Means that there is no maximum width
One problem with the width property can occur when the browser window is smaller than the width of the element. The browser then adds a horizontal scrollbar to the page. So, using max-width will improve the browser's handling on small windows.

CSS max-width Examples
Drag the browser window to smaller than 600px wide, to see the difference between the two divs below!

Using width:

This element has a width of 600 pixels.
Using max-width:

This element has a max-width of 600 pixels.
Example
One <div> element with a max-width of 500 pixels, and one <div> element with a width of 500 pixels:

.div1 {
  max-width: 500px;
  background-color: powderblue;
}

.div2 {
  width: 500px;
  background-color: powderblue;
}

Note: If you use both the width property and the max-width property on the same element, and the value of the width property is larger than the max-width property; the max-width property value will be used!

Example
A <div> element with both a width and a max-width property:

.div1 {
  width: 100%;
  max-width: 900px;
  background-color: powderblue;
}
