/* CSS Margins
Margins define the distance between an element's border and the surrounding elements.
Example */
p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

/* Margin - Shorthand Property
margin: 25px 50px 75px 100px;
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px
Example */
p {
  margin: 25px 50px 75px 100px;
}

/* If the margin property has three values:
margin: 25px 50px 75px;
top margin is 25px
right and left margins are 50px
bottom margin is 75px
Example */
p {
  margin: 25px 50px 75px;
}

/* If the margin property has two values:
margin: 25px 50px;
top and bottom margins are 25px
right and left margins are 50px
Example */
p {
  margin: 25px 50px;
}

/* If the margin property has one value:
margin: 25px;
Example */
p {
  margin: 25px;
}

/* The auto Value
Example */
div {
  width: 300px;
  margin: auto;
  border: 1px solid red;
}

/* The inherit Value
Example */
div {
  border: 1px solid red;
  margin-left: 100px;
}

p.ex1 {
  margin-left: inherit;
}

/* CSS Margin Collapse
Example */
h1 {
  margin-bottom: 50px;
}

h2 {
  margin-top: 20px;
}

/* In the following example, each <p> element has a top margin of 30px and a bottom margin of 30px. So, the vertical margin between the <p> elements should have been 60px (30px + 30px). However, due to margin collapse, the actual margin ends up being 30px:
Example */
p {
  margin-top: 30px;
  margin-bottom: 30px;
}
