/* CSS Padding
The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */

/* Padding - Individual Sides
Example */
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/* Padding - Shorthand Property
If the padding property has four values:
padding: 25px 50px 75px 100px;
Example */
div {
  padding: 25px 50px 75px 100px;
}

/* If the padding property has three values:
Example */
div {
  padding: 25px 50px 75px;
}

/* If the padding property has two values:
Example */
div {
  padding: 25px 50px;
}

/* If the padding property has one value:
Example */
div {
  padding: 25px;
}

/* More Examples
Set the left-padding property */
<style>
p.p2 {
  padding-left: 2cm;
}
p.p3 {
  padding-left: 50%;
}
</style>

/* Set the right-padding property */
<style>
p.p2 {
  padding-right: 2cm;
}

p.p3 {
  padding-right: 50%;
}
</style>

/* Set the top-padding property */
<style>
p.p2 {
  padding-top: 2cm;
}

p.p3 {
  padding-top: 50%;
}
</style>

/* Set the bottom-padding property */
<style>
p.p2 {
  padding-bottom: 2cm;
}

p.p3 {
  padding-bottom: 50%;
}
</style>




CSS Padding and box-sizing
Padding and Element Width
Example
div {
  width: 300px;
  padding: 25px;
}

Padding and box-sizing
Example
div {
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
}
