CSS Padding
The CSS padding properties are used to generate space around an element's content, inside of any defined borders.

Padding - Individual Sides
Example
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

Padding - Shorthand Property
If the padding property has four values:
padding: 25px 50px 75px 100px;
Example
div {
  padding: 25px 50px 75px 100px;
}

If the padding property has three values:
Example
div {
  padding: 25px 50px 75px;
}

If the padding property has two values:
Example
div {
  padding: 25px 50px;
}

If the padding property has one value:
Example
div {
  padding: 25px;
}

More Examples
Set the left-padding property

<style>
p.p2 {
  padding-left: 2cm;
}
p.p3 {
  padding-left: 50%;
}
</style>

Set the right-padding property

<style>
p.p2 {
  padding-right: 2cm;
}

p.p3 {
  padding-right: 50%;
}
</style>

Set the top-padding property

<style>
p.p2 {
  padding-top: 2cm;
}

p.p3 {
  padding-top: 50%;
}
</style>

Set the bottom-padding property

<style>
p.p2 {
  padding-bottom: 2cm;
}

p.p3 {
  padding-bottom: 50%;
}
</style>























CSS Padding and box-sizing
Padding and Element Width
The CSS width property specifies the width of the element's content area. The content area is the portion inside the padding, border, and margin of an element (the box model).

So, if an element has a specified width, the padding added to that element will be added to the total width of the element. This is often an undesirable result.

Example
Here, the <div> element is given a width of 300px. However, the actual width of the <div> element will be 350px (300px + 25px of left padding + 25px of right padding):

div {
  width: 300px;
  padding: 25px;
}
Padding and box-sizing
The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not.

The box-sizing property can have the following values:

content-box - This is default. The width and height properties includes only the content (border and padding are not included)
border-box - The width and height properties includes content, padding and border
So, to keep the width at 300px, no matter the amount of padding, you can use the box-sizing: border-box;. This causes the element to maintain its actual width; if you increase the padding, the available content space will decrease.

Example
Use the box-sizing property to keep the width at 300px, no matter the amount of padding:

div {
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
}


















