/* CSS Position Property
This property can have one of the following values:
static - This is default. Element is positioned according to the normal document flow
relative - Element is positioned relative to its normal position in the document flow
fixed - Element is positioned relative to the viewport
absolute - Element is positioned relative to the nearest positioned ancestor
sticky - Element toggles between a relative and fixed position, depending on the scroll position */

/* CSS position: static
Example */
div.static {
  position: static;
  border: 3px solid #73AD21;
}

/* CSS position: relative
Example */
div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}

/* CSS position: fixed
Example */
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}

/* CSS position: absolute
This <div> element has position: relative;This <div> element has position: absolute;
Example */
div.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid green;
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid red;
}

/* Positioning Text On an Image
Example */
<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 20px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.5;
}
</style>
</head>
<body>

<h2>Position Text on Image</h2>

<p>Position a text on an image in the top left corner:</p>

<div class="container">
<img src="img_5terre_wide.jpg" alt="Cinque Terre" width="1000" height="300">
<div class="topleft">Top Left</div>
</div>

</body>
</html>

/* CSS Sticky Positioning
Example */
div.sticky {
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}

/* CSS Position Offsets
Example */
<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 20px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.5;
}
</style>
</head>
<body>

<h2>Position Text on Image</h2>

<p>Position a text on an image in the top left corner:</p>

<div class="container">
<img src="img_5terre_wide.jpg" alt="Cinque Terre" width="1000" height="300">
<div class="topleft">Top Left</div>
</div>

</body>
</html>
