CSS Text Color
Example
body {
  color: blue;
}

h1 {
  color: green;
}

h2 {
  color: red;
}

Text Color and Background Color
Example
body {
  background-color: lightgrey;
  color: blue;
}

h1 {
  background-color: black;
  color: white;
}

div {
  background-color: blue;
  color: white;
}


CSS Text Alignment
In this chapter you will learn about the following properties:
text-align
text-align-last
vertical-align
direction
unicode-bidi
Text Alignment
This property can have one of the following values:
left - Aligns the text to the left
right - Aligns the text to the right
center - Centers the text
justify - Stretches the lines so that each line has equal width
Example
h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}

Example
div {
  text-align: justify;
}
Text Align Last
Example
p.a {
  text-align-last: right;
}

p.b {
  text-align-last: center;
}

p.c {
  text-align-last: justify;
}

Vertical Alignment
Example

img.a {
  vertical-align: baseline;
}

img.b {
  vertical-align: text-top;
}

img.c {
  vertical-align: text-bottom;
}

img.d {
  vertical-align: sub;
}

img.e {
  vertical-align: super;
}

Text Direction
Example
p {
  direction: rtl;
  unicode-bidi: bidi-override;
}
















CSS Text Decoration
CSS Text Decoration
The CSS text-decoration property is used to control the appearance of decorative lines on text.

It is a shorthand property for the following individual properties:

text-decoration-line
text-decoration-color
text-decoration-style
text-decoration-thickness
Add a Decoration Line to Text
The CSS text-decoration-line property sets the type of decoration line added to the text.

This property can have one or more of the following values:

none - Default value. Displays no decoration line
underline - The decoration line is displayed under the text
overline - The decoration line is displayed over the text
line-through - The decoration line is displayed through the text
Tip: You can combine multiple values, like overline and underline to display lines both over and under a text.

Example
Set different types of decoration lines:

h1 {
  text-decoration-line: overline;
}

h2 {
  text-decoration-line: line-through;
}

h3 {
  text-decoration-line: underline;
}

p {
  text-decoration-line: overline underline;
}
Note: It is not recommended to underline text that is not a link, as this often confuses the reader!

REMOVE ADS

Specify a Color for the Decoration Line
The CSS text-decoration-color property is used to set the color of the decoration line.

Example
Add different colors to the decoration line:

h1 {
  text-decoration-line: overline;
  text-decoration-color: red;
}

h2 {
  text-decoration-line: line-through;
  text-decoration-color: blue;
}

h3 {
  text-decoration-line: underline;
  text-decoration-color: green;
}

p {
  text-decoration-line: overline underline;
  text-decoration-color: purple;
}

















CSS Text Decoration Styles
Specify a Style for the Decoration Line
The CSS text-decoration-style property sets the style of the decoration line.

This property can have one of the following values:

solid - Default value. Single line
double - Double line
dotted - Dotted line
dashed - Dashed line
wavy - Wavy line
Example
Add different styles for the decoration line:

h1 {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

h2 {
  text-decoration-line: underline;
  text-decoration-style: double;
}

h3 {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

p.ex1 {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

p.ex2 {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

p.ex3 {
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
}
REMOVE ADS

Specify the Thickness for the Decoration Line
The CSS text-decoration-thickness property is used to set the thickness of the decoration line.

Example
Add different thickness for the decoration line:

h1 {
  text-decoration-line: underline;
  text-decoration-thickness: auto;
}

h2 {
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

h3 {
  text-decoration-line: underline;
  text-decoration-thickness: 25%;
}

p {
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-style: double;
  text-decoration-thickness: 5px;
}
The Shorthand Property
The CSS text-decoration property is a shorthand property for:

text-decoration-line (required)
text-decoration-color (optional)
text-decoration-style (optional)
text-decoration-thickness (optional)
Example
h1 {
  text-decoration: underline;
}

h2 {
  text-decoration: underline red;
}

h3 {
  text-decoration: underline red double;
}

p {
  text-decoration: underline red double 5px;
}
A Small Tip on Links
All links in HTML are underlined by default. Sometimes you see that links are styled with no underline. The text-decoration: none; is used to remove the underline from links, like this:

Example
a {
  text-decoration: none;
}













CSS Text Transformation
CSS Text Transformation
The CSS text-transform property is used to control the capitalization of text in an element.

It can be used to transform a text into uppercase or lowercase letters, or capitalize the first letter of each word, without changing the original content in HTML.

This property can have one of the following values:

none - No transformation. Text renders as it is
capitalize - Transforms the first character of each word to uppercase
uppercase - Transforms all characters to uppercase
lowercase - Transforms all characters to lowercase
Example
Demonstration of the text-transform property:

p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}

p.capitalize {
  text-transform: capitalize;
}














CSS Text Spacing
CSS Text Spacing
CSS has several properties to control text spacing.

In this chapter you will learn about the following properties:

text-indent
letter-spacing
line-height
word-spacing
white-space
CSS Text Indentation
The CSS text-indent property is used to specify the indentation of the first line in a text-block.

Tip: Negative values are allowed. The first line will be indented to the left if the value is negative.

Example
Indent the first line of text in a text-block:

p {
  text-indent: 50px;
}
CSS Letter Spacing
The CSS letter-spacing property is used to specify the space between the characters in a text.

Tip: Negative values are allowed.

Example
Increase and decrease the space between characters:

h1 {
  letter-spacing: 5px;
}

h2 {
  letter-spacing: -2px;
}
CSS Line Height
The CSS line-height property is used to specify the space between lines.

Note: Negative values are not allowed.

Example
Specify the space between lines:

p.small {
  line-height: 0.8;
}

p.big {
  line-height: 1.8;
}
REMOVE ADS

CSS Word Spacing
The CSS word-spacing property is used to specify the space between the words in a text.

Tip: Negative values are allowed.

Example
Increase and decrease the space between words:

p.one {
  word-spacing: 10px;
}

p.two {
  word-spacing: -2px;
}
CSS White Space
The CSS white-space property specifies how white-space inside an element is handled.

This property can have one of the following values:

normal
nowrap
pre
pre-line
pre-wrap
Example
How to disable text wrapping inside an element

p {
  white-space: nowrap;
}



















CSS Text Shadow
CSS Text Shadow
The text-shadow property adds shadow to text.

In its simplest use, you only specify the horizontal and the vertical shadow.

In addition, you can add a shadow color and blur effect.

Text shadow effect!
Example
Horizontal and vertical shadow:

h1 {
  text-shadow: 2px 2px;
}
Next, add a color (red) to the shadow:

Text shadow effect!
Example
Horizontal and vertical shadow, with color:

h1 {
  text-shadow: 2px 2px red;
}
Then, add a blur effect (5px) to the shadow:

Text shadow effect!
Example
Horizontal and vertical shadow, with color and blur effect:

h1 {
  text-shadow: 2px 2px 5px red;
}
More Text Shadow Examples
Text shadow effect!
Example
Text-shadow on a white text:

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
Text shadow effect!
Example
Text-shadow with red neon glow:

h1 {
  text-shadow: 0 0 3px #ff0000;
}
REMOVE ADS

Multiple Shadows
The text-shadow property also accepts multiple shadows for an element. Define each shadow in a comma-separated list.

The following example shows a red and blue neon glow shadow:

Text shadow effect!
Example
Text-shadow with red and blue neon glow:

h1 {
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
The following example shows a white text with black, blue, and red neon glow:

Text shadow effect!
Example
Text-shadow with black, blue and red neon glow:

h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;
}
Tip: Go to our CSS Fonts chapter to learn about how to change fonts, text size and the style of a text.

Tip: Go to our CSS Text Effects chapter to learn about different text effects.
