/* CSS Units
CSS has two types of units:
Absolute units
Relative units */

/* CSS Absolute Units
Unit	Name	Description	
px	Pixels	The most used absolute unit for screens (1px = 1/96th of 1in)	
cm	Centimeters	Primarly used in print stylesheet	
mm	Millimeters	Primarly used in print stylesheet	
in	Inches	Primarly used in print stylesheet (1in = 96px = 2.54cm)	
pt	Points	A typographical unit (1pt = 1/72 of 1in)	
pc	Picas	A print unit (1pc = 12 pt)	
Example */

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 17px;
}

/* CSS Relative Units
Unit	Description	
em	Relative to the font-size of the parent element	
rem	Relative to the font-size of the root HTML element	
vw	Relative to 1% of the width of the viewport*. 100vw = full width of the viewport	
vh	Relative to 1% of the height of the viewport*. 100vh = full height of the viewport	
vmin	Relative to 1% of viewport's* smaller dimension	
vmax	Relative to 1% of viewport's* larger dimension	
%	Relative to the size of the parent element	
fr	A fractional unit. 1fr equals 1 part of the available space	
ch	Relative to width of the "0" (zero) character	
* Viewport = the browser window size. 1vw = 1% of the current width of the browser's viewport. So, if the viewport is 500px wide, 1vw is 5px.
Example */

body {
  font-size: 16px; /* Base font size */
}

h1 {
  font-size: 2.5em; /* 2.5 * 16 = 40px */
}

h2 {
  font-size: 1.875em; /* 1.875 * 16 = 30px */
}

p {
  font-size: 1em; /* 1 * 16 = 16px */
}

/* Set Font Size With Rem
Example */
html {
  font-size: 16px; /* Set the root font size */
}

h1 {
  font-size: 2.5rem; /* 2.5 * 16 = 40px */
}

h2 {
  font-size: 1.875rem; /* 1.875 * 16 = 30px */
}

p {
  font-size: 1rem; /* 1 * 16 = 16px */
}
